<p>コメント件数:<%= product.post_comments.count %>件</p>                                                                                <!--コメント機能"投稿"非同期通信3/5-->
<% product.post_comments.each do |post_comment| %>
  <div class="comment">
    <div class="comment-border">
      お名前：<%= post_comment.user.name %><br>
      投稿日時：<%= post_comment.created_at.strftime("%Y/%m/%d %H:%M:%S") %><br>
    </div>
    <%= simple_format(h(post_comment.comment)) %><br>
    <% if post_comment.user == current_user %>
      <%= link_to "コメントを削除", product_post_comment_path(post_comment.product, post_comment), method: :delete, remote: true, data: {confirm: "本当に削除しますか？", cancel: "やめる", commit: "削除する"}, title: "削除確認" %>          <!--コメント機能"削除"非同期通信2/3(remote: true追記)-->
    <% end %>
  </div>
<% end %>
