<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>

<% if @user.errors.any? %>
<!--<div id="error_explanation">-->
  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this obj from being saved:</h2>     <!--pluralizeはエラー件数を判断して-->
  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
  <!--</div>-->
<% end %>

<%= form_with model:@user, local:true do |f| %>

<%= f.label :username %>
<%= f.text_field :name %>

<%= f.label :email %>
<%= f.text_field :email %>

<%= f.label :profile %>
<%= f.text_area :profile %>

<%= f.label :profile_image %>
<%= f.attachment_field :profile_image %>

<%= f.submit '更新' %>


<% end %>