<p class="alert"><%= alert %></p>
<h3 class="page-center">ユーザー一覧</h3>
<div class="container">
  <%= paginate @users %>
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-md-6 col-lg-3">
        <div class="card text-center">
          <div class="card-header user-card-group">
            <div>お名前</div>
            <%= link_to user.name, user_path(user) %>
          </div>
          <div class="card-body">
            <%= link_to user_path(user) do %>
            <%= attachment_image_tag user, :profile_image, fallback: 'no-image.png', size: '100x100' %>
            <% end %>
          </div>
          <div class="card-footer user-card-group">                                                                        <!-- card-group消したら中央寄せになった-->
            <div class='content'>
            投稿件数：<%= user.products.count %>件
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @users %>
</div>