<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<%= attachment_image_tag @user, :profile_image, fallback: 'no_image.png', size: '100x100' %>

<%= @user.name %>

<%= @user.profile %>

<% if @user.id == current_user.id %>
  <%= @user.email %>
  <%= link_to "プロフィール編集", edit_user_path(@user), class: 'button is-primary' %>
<% end %>

<% @user.products.each do |product| %>
  <%= link_to "商品詳細", product_path(product) %>
    <% if @user.id == current_user.id %>
    <%= link_to "商品編集", edit_product_path(product) %>
    <%= link_to "商品削除", product_path(product), method: :delete, "data-confirm" => "本当に消しますか？" %>
    <% end %>
  <%= product.updated_at.strftime("%Y/%m/%d") %>アップデート
<% end %>