
<h3 class="page-center">いいねした便利商品一覧</h3>

<% @likes.each do |like| %>

<div class="swiper-container">
    <div class="swiper-wrapper">
      <% if like.product.photos.present? %>
        <% like.product.photos.each do |photo| %>
          <div class="swiper-slide">
            <%= link_to product_path(like.product.id) do %>                       <!--いいねした商品のidを渡す-->
              <%= attachment_image_tag photo, :image, size: '80x80' %>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <!--<div class="swiper-slide">-->
          <%= link_to product_path(like.product.id) do %>
            <%= image_tag 'no_image.png', size: '80x80' %>
          <% end %>
        <!--</div>-->
      <% end %>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

  <p>タイトル</p>
<%= link_to like.product.title, product_path(like.product.id) %>

<p>商品説明</p>
<%= link_to like.product.body, product_path(like.product.id) %>

<div>
  <%= like.product.created_at.strftime("%Y/%m/%d") %>投稿       <!--日本時間に設定1/2(strftime)-->
</div>

<div>
<%= link_to "#{like.product.post_comments.count} コメント", product_path(like.product.id) %>
</div>

<div>
<%= render 'products/tag_list', tag_list: like.product.tag_list %>
</div>
<% end %>

