<%= render 'layouts/flashes' %>
<div class="container-fluid">
  <!--<div class="justify-content-center">                  <!--centerにするため(d-flex align-items-center消したら横幅が指定できるようになった、、)-->
  <div class="row">
    <div class="col-12 text-center fa-div">
        <div><%= image_tag 'top-logo', class: 'top-logo' %></div>
      <%= link_to new_user_registration_path, class: 'nav-link top-btn' do %>
        <i class="fas fa-file-signature"></i>新規登録
      <% end %><br>
      <%= link_to new_user_session_path, class: 'nav-link top-btn' do %>
        <i class="fas fa-sign-in-alt"></i>ログイン
      <% end %><br>
      <%= link_to users_guest_sign_in_path, method: :post, class: 'nav-link top-btn' do %>
        <i class="fas fa-crown"></i>ゲストログイン
      <% end %>
    </div>
    <div class='fa-div col-12 mt-5'>
      <h3 class='new-products'><i class="fas fa-cart-arrow-down"></i>新着便利グッズ<i class="fas fa-carrot"></i></h3>
    </div>
    <% @products.each do |product| %>
      <div class="col-md-6 col-lg-4">
        <div class="card-group text-center h-100">
          <div class="card">
            <%= render 'products/swiper', product: product %>
            <div class="card-body">
              <%= link_to product_path(product) do %>
                <p class="card-text mt-3">タ<%= product.title %></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <!--</div>-->
</div>