<h1>top</h1>

    <%= link_to root_path, class: 'nav-link text-dark' do %>
      <h1 class='title is-4' style='font-family: cursive;'><i class="fas fa-paw"></i>USEFUL</h1>
    <% end %>

    <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-dark' %>
    <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-dark' %>
    <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: 'nav-link text-dark' %>

    <div class="previews">
      <div class="slider">
        <%= image_tag 'friends' %>
        <%= image_tag 'succulents' %>
      </div>
    </div>