<%= render 'layouts/flashes' %>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="page-center">ログイン</h2>
      
      <%= form_with model: @user, url: user_session_path, local: true do |f| %>
        <div class="field page-center">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      
        <div class="field page-center">
          <%= f.label :パスワード %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
      
        <% if devise_mapping.rememberable? %>
          <div class="field page-center">
            <%= f.check_box :remember_me %>
            <%= f.label :情報を保存 %>
          </div>
        <% end %>
      
        <div class="actions page-center">
          <%= f.submit "ログイン", class: 'confirm-btn' %>
        </div>
      <% end %>
      
      <div class='page-center mt-5'>
        <p>アカウントをお持ちでない方は</p>
        <!--<div class='confirm-btn text-center'>-->
        <%= render "devise/shared/links" %>
      <!--</div>-->
      </div>
    </div>
  </div>
</div>