<div class="container">
  <!--<div class="justify-content-center">                  <!--centerにするため(d-flex align-items-center消したら横幅が指定できるようになった、、)-->

<%= render 'products/error', product: @product %>
  <div class="row">
    <div class="col-12">
<div class="field page-center">
<%= f.label :タイトル（最大入力文字数：30文字）※入力必須 %><br>
<%= f.text_field :title, maxlength: "30", class: 'text-form',size: '52' %>                           <!--maxlengthで最大文字数制限-->
</div>

<div class="field page-center">
  <%= f.label :商品説明（購入の決め手／快適になったこと）※入力必須%><br>
  <%= f.text_area :body, rows: '3', class: 'long-text-form' %>                                       <!--, id: 'textarea'　は改行でフォームを大きくする、、(cssとjsにも記入してる)-->
</div>

<div class='merits page-center'>              <!--cocoonで'メリット'機能実装5/6-->
  <%= f.fields_for :merits do |merit| %>
    <%= f.label :メリット／利点 %>
    <%= render 'merit_fields', f: merit %>
  <% end %>
  <div class='links'>
    <%= link_to_add_association 'メリット用フォーム追加', f, :merits %>
  </div>
</div>

<div class='demerits page-center mt-5'>              <!--cocoonで'デメリット'機能実装5/6-->
  <%= f.fields_for :demerits do |demerit| %>
    <%= f.label :デメリット／欠点 %>
    <%= render 'demerit_fields', f: demerit %>
  <% end %>
  <div class='links'>
    <%= link_to_add_association 'デメリット用フォーム追加', f, :demerits %>
  </div>
</div>

<div class="page-center">
  <%= f.label :タグ： %>                                                                                 <!--タグ機能3*2/7?-->
  <%= f.text_field :tag_list, value: @product.tag_list.join(','), class: 'middle-text-form' %>
</div>

<div class="page-center">
  <%= f.label :商品画像 %><br>
  <%= f.attachment_field :photos_images, multiple: true %>
</div>

<div class="page-center">
  <%= f.label :購入先（店舗名やリンク先等）： %>
  <%= f.text_field :seller, class: 'middle-text-form' %>
</div>

<div class="page-center">
  <%= f.label :コスト： %>
  ￥ <%= f.text_field :cost, class: 'short-text-form' %>
</div>

<div class="page-center">
  <%= f.label :使用開始年月 %>
  <%= f.date_select :since_when, {discard_day: true, use_month_numbers: true, start_year: 1980, end_year: Time.now.year, date_separator: '/'} %>
<!--%== sprintf(
 f.date_select(:birthday, :use_month_numbers=>true, :date_separator => '%s', :start_year=>1930, :end_year => Time.now.year, :default =>'1990-1-1'.to_date), '年','月') + '日生まれ' %-->
</div>

<div class="page-center">
  <%= f.submit "投稿", class: 'submit-btn' %>
</div>
</div>
</div>
<!--</div>-->
</div>