<%= render 'layouts/flashes' %>                                                  <!--flash特有の余白消す3/3-->
<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <!--#検索機能2/3ここから-->
      <%= search_form_for @search do |f| %>                                     <!--, url: products_path-->
        <%= f.label :tilte, 'タイトル／本文' %><br>
        <%= f.search_field :title_or_body_cont_all, required: true, class: 'search-form ' %>
        <%= f.submit '検索', class: 'search-submit-btn' %>
      <% end %>
      <!--#検索機能2/3ここまで-->
    </div>
    <div class="col-6 text-right">
      <p>並べ替え</p>
      <p><%= sort_link(@search, :updated_at, '更新日(昇順)') %></p>
      <p><%= sort_link(@search, :cost, 'コスト(安い順)') %></p>
      <p><%= sort_link(@search, :likes_count, 'いいね(多い順)', default_order: :desc) %></p>
    </div>
  </div>
</div>

<h3 class="page-center">便利商品一覧</h3>
<div class='container-fluid'>
  <div class="text-center">
    <%= paginate @products %>
  </div>
  <div class='row'>
    <% @products.each do |product| %>
      <div class='col-md-6 col-lg-4 pt-3'>
        <div class="card-group h-100">                   <!--card-groupでBootstrapのcardを横並び(これで画面縮めてもcardが縮まらない)/text-centerで画面縮めたとき右側に隙間ができない-->
          <div class="card">
            <!--<div class="column flex-direction:row">-->                             <!--レイアウトが崩れる-->
            <%= render 'products/swiper', product: product %>
            <div class="card-body">
              <%= render 'products/card', product: product %>

            <!--</div>-->

            <%= render 'products/card_body', product: product %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="text-center mt-3 mb-3 ">
    <div class='p-top__paginate'><%= paginate @products %></div>
  </div>
</div>




