<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>

<!--#検索機能2/2ここから-->
<%= search_form_for @search do |f| %>      <!--, url: products_path-->
  <%= f.label :tilte, 'タイトルor本文' %>
  <%= f.search_field :title_or_body_cont %>
  <%= f.submit '検索' %>
<% end %>

<%#if params[:q][:title_or_body_cont].present? %>
<table>
  <thead>
    <tr>
      <th><%= sort_link(@search, :title) -%></th>
      <th><%= sort_link(@search, :body) -%></th>
    </tr>
  </thead>
  <tbody>
    <% @search_products.each do |sp| %>
    <tr>
      <td><%= sp.title -%></td>
      <td><%= sp.body -%></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%#end %>
<!--#検索機能2/2ここまで-->



<div>
<% @products.each do |product| %>

  <!--<div class='slider'>-->
<%= link_to product_path(product) do %>

<% if product.photos.present? %>

  <% product.photos.each do |photo| %>

  <%= attachment_image_tag photo, :image, size: '80x80' %>

  <% end %>

<% else %>
    <%= image_tag 'no_image.png', size: '80x80' %>
<% end %>

<% end %>
<!--</div>-->

<p>タイトル</p>
<%= link_to product.title, product_path(product) %>

<p>商品説明</p>
<%= link_to product.body, product_path(product) %>

<div>
  <%= product.created_at.strftime("%Y/%m/%d") %>投稿       <!--日本時間に設定1/2(strftime)-->
</div>

<div>
<%= link_to "#{product.post_comments.count} コメント", product_path(product) %>
</div>

<div>
<%= render 'tag_list', tag_list: product.tag_list %>
</div>





<div>
<%= link_to user_path(product.user.id) do %>
<%= attachment_image_tag product.user, :profile_image, fallback: 'no_image.png', size: '80x80' %>
<% end %>
</div>

<div>
<%= link_to product.user.name, user_path(product.user.id) %>
</div>



<% end %>
</div>

<%= paginate @products %>
