<%= render 'layouts/flashes' %>                                                               <!--flash特有の余白消す3/3-->
<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <!--検索機能2/3ここから-->
      <%= search_form_for @search do |f| %>
        <%= f.label :tilte, 'タイトル／本文' %><br>
        <%= f.search_field :title_or_body_cont_all, required: true, class: 'search-form ' %>           <!-- require: trueは空白投稿禁止 -->
        <%= f.submit '検索', class: 'search-submit-btn' %>
      <% end %>
    </div>
    <div class="col-6 text-right">
      <p>並べ替え</p>
      <p><%= sort_link(@search, :updated_at, '更新日(昇順)') %></p>
      <p><%= sort_link(@search, :cost, 'コスト(安い順)') %></p>
      <p><%= sort_link(@search, :likes_count, 'いいね(多い順)', default_order: :desc) %></p>                               <!--ransack子モデル(like)の検索3/4(likes_count)-->
      <!--検索機能2/3ここまで-->
    </div>
  </div>
</div>

<h3 class="page-center">便利商品一覧</h3>
<div class='container-fluid'>
  <div class="text-center">
    <%= paginate @products %>
  </div>
  <div class='row'>
    <% @products.each do |product| %>
      <div class='col-md-6 col-lg-4 pt-3'>
        <div class="card-group h-100">                                                         <!--card-groupでBootstrapのcardを横並び(画面縮めてもcardが縮まらない)/h-100はカードの高さを合わせる-->
          <div class="card">
              <%= render 'products/swiper', product: product %>
            <div class="card-body">
              <%= render 'products/card', product: product %>
            </div>
            <%= render 'products/card_list', product: product %>
            <%= render 'products/card_body', product: product %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="text-center mt-3 mb-3">
    <%= paginate @products %>
  </div>
</div>




