<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>

<!--#検索機能2/2ここから-->
<%= search_form_for @search, url: products_path do |f| %>
  <%= f.label :tilte, 'タイトル' %>
  <%= f.search_field :title_cont %>
  <%= f.label :body, '本文' %>
  <%= f.search_field :body_cont %>
  <%= f.submit '検索' %>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= sort_link(@search, :title) -%></th>
      <th><%= sort_link(@search, :body) -%></th>
    </tr>
  </thead>
  <tbody>
    <% @search_products.each do |sp| %>
    <tr>
      <td><%= sp.title -%></td>
      <td><%= sp.body -%></td>
    </tr>
    <% end %>
  </tbody>
</table>
<!--#検索機能2/2ここまで-->


<% @products.each do |product| %>

<%= link_to product_path(product) do %>
<!--商品の画像-->
<% end %>

<%= link_to "#{product.post_comments.count} コメント", product_path(product) %>

<%= link_to user_path(product.user.id) do %>
<%= attachment_image_tag product.user, :profile_image, fallback: 'no_image.png' %>
<% end %>

<%= link_to product.user.name, user_path(product.user.id) %>

<%= product.created_at.strftime("%Y/%m/%d") %>投稿       <!--日本時間に設定1/2(strftime)-->

<% end %>

<%= paginate @products %>
