<h1>新規投稿</h1>

<% if @product.errors.any? %>
<!--<div id="error_explanation">-->
  <h2><%= pluralize(@product.errors.count, "error") %> prohibited this obj from being saved:</h2>     <!--pluralizeはエラー件数を判断して-->
  <ul>
    <% @product.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
  <!--</div>-->
<% end %>


<%= form_with model: @product, url: products_path, local: true do |f| %>
<%= f.label :タイトル %>
<%= f.text_field :title %>

<%= f.label :本文（購入の決め手／快適になったこと）%>
<%= f.text_area :body %>

<div class='merits'>              <!--cocoonで'メリット'機能実装5/6-->
  <%= f.fields_for :merits do |merit| %>
  <%= render 'merit_fields', f: merit %>
  <% end %>
  <div class='links'>
  <%= link_to_add_association 'フォーム追加', f, :merits %>
  </div>
</div>

<div class='demerits'>              <!--cocoonで'デメリット'機能実装5/6-->
  <%= f.fields_for :demerits do |demerit| %>
  <%= render 'demerit_fields', f: demerit %>
  <% end %>
  <div class='links'>
  <%= link_to_add_association 'フォーム追加', f, :demerits %>
  </div>
</div>

<%= f.label :タグ %>                                                                                 <!--タグ機能3*2/7?-->
<%= f.text_field :tag_list, value: @product.tag_list.join(',') %>

<%= f.label :商品画像 %>
<%= f.attachment_field :photos_images, multiple: true %>

<%= f.label :購入先／販売店 %>
<%= f.text_field :seller %>

<%= f.label :コスト %>
<%= f.text_field :cost %>

<%= f.label :使用開始年月 %>
<%= f.date_select :since_when, {discard_day: true, use_month_numbers: true, start_year: 2010, end_year: Time.now.year, date_separator: '/'} %>
<!--%== sprintf(
 f.date_select(:birthday, :use_month_numbers=>true, :date_separator => '%s', :start_year=>1930, :end_year => Time.now.year, :default =>'1990-1-1'.to_date), '年','月') + '日生まれ' %-->


<%= f.submit %>
<% end %>