<h3 class="page-center">投稿便利商品</h3>
<div class='container-fluid'>
  <p>並び替え</p>
  <p><%= sort_link(@search, :updated_at, '更新日', default_order: :desc) %></p>
  <p><%= sort_link(@search, :cost, 'コスト', default_order: :desc) %></p>
  <p><%= sort_link(@search, :likes_count, 'いいね', default_order: :desc) %></p>
  <div class='row'>
    <% @search_products.each do |sp| %>
      <div class='col-md-6 col-lg-4 pt-3'>
        <div class="card-group text-center h-100">
          <div class="card card-border-top">
            <div class="card-swiper-between">
              <%= render 'products/swiper', product: sp %>
            </div>
            <div class="card-body">
              <%= render 'products/card', product: sp %>
              
            <!--</div>-->
              
            <%= render 'products/card_body', product: sp %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="text-center mt-3 mb-3 ">
    <%= paginate @search_products %>
  </div>
</div>



