<h1>商品詳細</h1>

<div>タイトル</div>
<%= @product.title %>

<div>商品説明</div>
<%= simple_format @product.body %>              <!-- simple_formatは改行を反映させる-->

<div>メリット
<% @product.merits.each do |merit| %>
<%= merit.advantage %>
<% end %>
</div>

<div>デメリット
<% @product.demerits.each do |demerit| %>
<%= demerit.disadvantage %>
<% end %>
</div>

<div>
<%= render 'tag_list', tag_list: @product.tag_list %>                                                       <!--タグ機能4*2/7?-->
</div>

    <div class="swiper-container">
      <div class="swiper-wrapper">
        <% if @product.photos.present? %>
          <% @product.photos.each do |photo| %>
            <div class="swiper-slide">
              <%= attachment_image_tag photo, :image, size: '200x200' %>
            </div>
          <% end %>
        <% else %>
          <%= image_tag 'no_image.png', size: '200x200' %>
        <% end %>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>

<div>購入先/販売店</div>
<%= @product.seller %>

<div>コスト</div>
<%= @product.cost %>

<div>使用開始年月</div>
<%= @product.since_when %>

<div id= "likes_buttons_<%= @product.id %>">            <!--非同期通信1/5-->
  <%= render partial: 'likes/like', locals: { product: @product} %>
</div>

<% if @product.user.id == current_user.id %>
  <%= link_to '商品編集', edit_product_path(@product) %>
  <%= link_to '商品削除', product_path(@product), method: :delete, "data-confirm" => "本当に消しますか？" %>
<% end %>

<div>
<%= @product.user.name %>
</div>

<div>
<%= @product.user.profile %>
</div>

<div>
<%= link_to user_path(@product.user) do %>
  <%= @product.user.name %>さんのプロフィールへ
<% end %>
</div>

<div id="post_comments">     <!--コメント機能'投稿'非同期通信2/5-->
  <%= render 'post_comments/index', product: @product %>
</div>

<div id="comments_error">        <!--コメント空白禁止2/5-->
    <%= render 'layouts/errors', model: @post_comment %>
  </div>

  <%= form_with model:[@product, @post_comment] do |f| %>     <!--コメント機能'投稿'非同期通信1/5(local: true消した)-->
    <%= f.text_area :comment, rows:'10', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
