<p class="notice"><%= notice %></p>
<h3 class="page-center">商品詳細</h3>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="card-group">
        <div class="card">
          <div class="card-body">
            <%= render 'products/swiper', product: @product %>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">コスト：￥<%= @product.cost.to_i.to_s(:delimited) %></li>
              <li class="list-group-item">購入先/販売店：<%= text_url_to_link(h(@product.seller)).html_safe %></li>
              <li class="list-group-item">使用開始年月：<%= @product.since_when.strftime("%Y/%m") %></li>                                           <!--年月だけ表示-->
              <li class="list-group-item">投稿更新日：<%= @product.updated_at.strftime("%Y/%m/%d") %></li>                                     <!--日本時間に設定1/2(strftime)-->
              <li class="list-group-item">タグ：<%= render 'products/tag_list', tag_list: @product.tag_list %></li>                                                      <!--タグ機能4*2/7?-->
              <li class="list-group-item" id= "likes_buttons_<%= @product.id %>">
                <%= render partial: 'likes/like', locals: { product: @product} %>
              </li>                                  <!--非同期通信1/5-->
              <% if @product.user.id == current_user.id %>
                <li class="list-group-item">
                  <%= link_to '商品編集', edit_product_path(@product) %>　　
                  <%= link_to '商品削除', product_path(@product), method: :delete, "data-confirm" => "本当に消しますか？" %>
                </li>
              <% else %>
                <li class="list-group-item" id= "bookmarks_buttons_<%= @product.id %>">            <!--非同期通信1/5-->
                  <%= render partial: 'bookmarks/bookmark', locals: { product: @product} %>
                </li>
                <%= render 'products/card_body', product: @product %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>


    <div class="col-lg-8">
      <div class="card-group">
      <div class="card">
        <div class="card-header">
          商品について
        </div>
        <div class="card-body">
          <h5 class="card-title">タイトル：<%= @product.title %></h5>
          <p class="card-text">説明：<%= simple_format(h(@product.body)) %></p>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">メリット／利点</div>
            <div class="card-body">
              <p class="card-text">
                <% @product.merits.each do |merit| %>
                  <%= simple_format(h(merit.advantage)) %>ー
                <% end %>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">デメリット／欠点</div>
            <div class="card-body">
              <p class="card-text">
                <% @product.demerits.each do |demerit| %>
                  <%= simple_format(h(demerit.disadvantage)) %>ー
                <% end %>
              </p>
            </div>
          </div>
        </div>
        
    </div>
    
    </div>
    
    </div>
    
    </div>
    <div id="post_comments">     <!--コメント機能'投稿'非同期通信2/5-->
          <%= render 'post_comments/index', product: @product %>
        </div>
        
        <div id="comments_error">        <!--コメント空白禁止2/5-->
          <%= render 'layouts/errors', model: @post_comment %>
        </div>
        
        <%= form_with model:[@product, @post_comment] do |f| %>     <!--コメント機能'投稿'非同期通信1/5(local: true消した)-->
          <%= f.text_area :comment, rows:'3', placeholder: "コメントをここに", class: 'short-text-form' %><br>
          <%= f.submit "コメントする", class: 'submit-btn' %>
        <% end %>
    </div>
    </div>
    