<header>
  <nav class="navbar navbar-expand-lg pt-1 pb-1 mb-4 fa-nav">             <!--pt-3 pb-3ヘッダーの高さ-->
    <%= link_to root_path, class: 'nav-link' do %>
       <%= image_tag 'logo', class: 'logo' %>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav fa-ul ml-auto">                            <!--ml-autoで右寄せ/fa-ulでアイコンをliで使用-->
        <% if user_signed_in? %>
          <li class="nav-item ml-auto">
            <%= link_to products_path, class: 'nav-link' do %>
              <i class="fas fa-paper-plane"></i>商品一覧
            <% end %>
          </li>
          <li class="nav-item ml-auto">
            <%= link_to new_product_path, class: 'nav-link' do %>
              <i class="fas fa-edit"></i>新規投稿
            <% end %>
          </li>
          <li class="nav-item ml-auto">
            <%= link_to users_path, class: 'nav-link' do %>
              <i class="fas fa-users"></i>ユーザー一覧
            <% end %>
          </li>
          <li class="nav-item ml-auto">
            <%= link_to user_path(current_user), class: 'nav-link' do %>
            <i class="fas fa-user"></i>マイページ
          <% end %>
          </li>
          <li class="nav-item ml-auto">
            <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
              <i class="fas fa-sign-out-alt"></i>ログアウト
            <% end %>
          </li>
        <% else %>
          <li class="nav-item ml-auto">
            <%= link_to home_about_path, class: 'nav-link' do %>
              <i class="fas fa-info-circle"></i>About
            <% end %>
          </li>
          <li class="nav-item ml-auto">
            <%= link_to products_path, class: 'nav-link' do %>
              <i class="fas fa-paper-plane"></i>商品一覧
            <% end %>
          </li>
          <li class="nav-item ml-auto">
            <%= link_to users_path, class: 'nav-link' do %>
              <i class="fas fa-users"></i>ユーザー一覧
            <% end %>
          </li>
          <li class="nav-item ml-auto">
            <%= link_to new_user_registration_path, class: 'nav-link' do %>
              <i class="fas fa-file-signature"></i>新規登録
            <% end %>
          </li>
          <li class="nav-item ml-auto">
            <%= link_to new_user_session_path, class: 'nav-link' do %>
              <i class="fas fa-sign-in-alt"></i>ログイン
            <% end %>
          </li>
          <li class="nav-item ml-auto">
            <%= link_to users_guest_sign_in_path, method: :post, class: 'nav-link' do %>          <!--ゲストユーザー実装4/4-->
              <i class="fas fa-crown"></i>ゲストログイン
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>