<!DOCTYPE html>
<html>
  <head>
    <title>USEFUL</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
    <!--<link href="https://fonts.googleapis.com/css2?family=Caveat&family=Kalam:wght@700&display=swap" rel="stylesheet">-->
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg pt-2 pb-2">             <!--pt-3 pb-3ヘッダーの高さ-->
  <%= link_to root_path, class: 'nav-link' do %>
        <h1 class="fas fa-republican">USEFUL<i class="fas fa-democrat"></i></h1>
      <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
      <li class="nav-item ml-auto">
        <%= link_to "商品一覧", products_path, class: 'nav-link fas fa-paper-plane' %>
      </li>
      <li class="nav-item ml-auto">
        <%= link_to "新規投稿", new_product_path, class: 'nav-link fas fa-edit' %>
      </li>
      <li class="nav-item ml-auto">
        <%= link_to "ユーザー一覧", users_path, class: 'nav-link fas fa-users' %>
      </li>

      <li class="nav-item ml-auto">
        <%= link_to "マイページ", user_path(current_user), class: 'nav-link far fa-user' %>
      </li>
      <li class="nav-item ml-auto">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link fas fa-sign-out-alt' %>
      </li>
      <% else %>
      <li class="nav-item ml-auto">
        <%= link_to "商品一覧", products_path, class: 'nav-link fas fa-paper-plane' %>
      </li>
      <li class="nav-item ml-auto">
        <%= link_to "ユーザー一覧", users_path, class: 'nav-link fas fa-users' %>
      </li>
      <li class="nav-item ml-auto">
        <%= link_to "About", home_about_path, class: 'nav-link fas fa-info-circle' %>
      </li>
      <li class="nav-item ml-auto">
        <%= link_to "新規登録", new_user_registration_path, class: 'nav-link fas fa-file-signature' %>
      </li>
      <li class="nav-item ml-auto">
        <%= link_to "ログイン", new_user_session_path, class: 'nav-link fas fa-sign-in-alt' %>
      </li>
      <li class="nav-item ml-auto">
        <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: 'nav-link fas fa-crown' %>          <!--ゲストユーザー実装4/4-->
      </li>
      <% end %>
    </ul>
  </div>
</nav>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>



<script>

//   var Swiper = new Swiper('.swiper-container', {
//   navigation: {
//     nextEl: '.swiper-button-next',
//     prevEl: '.swiper-button-prev',
//   }
// })

var Swiper = new Swiper('.swiper-container', {
  loop: true,
  pagination: {
    el: '.swiper-pagination',
    clickable: true,
  },
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },
  scrollbar: {
    el: '.swiper-scrollbar',
  },
})
</script>

    <footer class="mt-3 pt-2 pb-2">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-4">
            <p>@couplee</p>
          </div>
          <div class="col-md-8">
            <ul class="p-0 list-unstyled">
              <li class="nav-item ml-auto">
        <%= link_to home_about_path, class: 'nav-link' do %>
        <i class="fas fa-info-circle"></i>About
        <% end %>
      </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>

<p id="page-top"><a href="#wrap">PAGE TOP</a></p>         <!--スムーススクロール機能1/3-->