<!DOCTYPE html>
<html>
  <head>
    <title>USEFUL</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>    
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>
    <header>
      <%= link_to root_path, class: 'nav-link text-dark' do %>
        <h1 class='title is-4' style='font-family: cursive;'><i class="fas fa-paw"></i>USEFUL</h1>
      <% end %>

      <% if user_signed_in? %>
          <%= link_to "商品一覧", products_path, class: 'nav-link text-dark' %>
          <%= link_to "新規投稿", new_product_path, class: 'nav-link text-dark' %>
          <i class="fas fa-cat"></i><%= link_to "ユーザー一覧", users_path, class: 'nav-link text-dark' %>
          <%= link_to "About", home_about_path, class: 'nav-link text-dark' %>
          <%= link_to "マイページ", user_path(current_user), class: 'nav-link text-dark' %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-dark' %>
      <% else %>
          <%= link_to "商品一覧", products_path, class: 'nav-link text-dark' %>
          <%= link_to "ユーザー一覧", users_path, class: 'nav-link text-dark' %>
          <%= link_to "About", home_about_path, class: 'nav-link text-dark' %>
          <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-dark' %>
          <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-dark' %>
          <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: 'nav-link text-dark' %>          <!--ゲストユーザー実装4/4-->
      <% end %>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <footer>
      <p>@couplee</p>
    </footer>
  </body>
</html>

<p id="page-top"><a href="#wrap">PAGE TOP</a></p>         <!--スムーススクロール機能1/3-->